// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.logo {
  font-family: 'Righteous', cursive;
  color: white;
  font-size: 28px;
  padding-left: 5px;
}

.listing-card {
  max-width: 450px;
  max-height: 400px;
}

.cards-wrapper {
  padding: 20px;
}

.card {
  max-width: 400px;
  flex: 1 0 500px;
  box-sizing: border-box;
  margin: 1rem .25em;
}

.card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.vue-countdown {
  list-style: none;
}

.timer {
  color: red;
}

.media-content-bidder p{
  color: green;
}

.timer-txt {
  font-weight: bolder;
}

// Login page

#hero-image {
 position: absolute;
 width: 1400;
 height: auto;
 z-index: -1;
}

div.login-form {
  top: 10%;
  position: absolute;
  left: 45%;
}
div.pw-submit > button.button.is-primary {
  margin: 10px 0;
} 

div.login-form > h1 {
  font-size: 36px;
}
div.login-form > h2 {
  text-align: center;
}